config.yaml
__pycache__/
*.pyc
# Ignore environment variables and virtual environment
.env
venv/

# Ignore database folder
embeddings/
#logs/
.vscode/
chroma_db/
semantic_chroma_db/
model_cache/
sec_intent_chroma_db/

logs/
unit_test.py
unit_test2.py
